/* Title */
.content_title {
  font-size: 18px;

}
/*  infor */
.content_infor {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}
.infor_date {
  text-align: left;
  color: gray;
}
.infor_viewcomment {
  text-align: left;
  color: gray;
}
.infor_source {
  text-align: right;
  color: gray;
}
/*  main */
.content_main {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}
.main_image {
  display: left;
  width: 50px;
  height: 50px;
}
.main_content {

}
/*  comment */
.content_comment {

}
.comment_count {

}
.comment_list {

}

/*  suggest */
.left_suggest {
  padding: 0px 5px;
  display: inline-flex;
}
.suggest_block {
  width: 25%;
  text-align: center;
}
.block_image {
  width: 100%;
  height: 40%;
  flex-direction: column;
  justify-content: center;
}
.block_title {
  width: 100%;
  height: 30%;

}
.block_source {
  width: 100%;
  height: 20%;

}
.block_date {
  width: 100%;
  height: 10%;

}